body{
  font-family: Arial;
  line-height: 1.5em;
}

.container{
  width:800px;
  margin: 20px auto;
  border:#333 4px solid;
  padding:10px;
}

.output{
  height: 500px;
  overflow-y: scroll;
  padding:5px;
}

form div{
  margin: 10px 0;
}
